@import 'antd/dist/antd.css';
@import 'antd-mobile-v2/dist/antd-mobile.css';


th {
  padding: 0 20px 0 20px;
  border: 1px black solid;
}

td {
  padding: 0 20px 0 20px;
}

html,
body {
  background: lavender;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
